##
## Common
##

AZURE_AUTH_AUDIENCE=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=
AZURE_TENANT_ID=

DEBUG_AUTH_USER_EMAIL=
DEBUG_AUTH_USER_ID=
DEBUG_AUTH_USER_NAME=

DEBUG_STORAGE_ROOT=.debug/storage
DEBUG_VERBOSE=1

GOOGLE_APPLICATION_CREDENTIALS=

LLM_GATEWAY_API_BASE=
LLM_GATEWAY_API_KEY=

NANDAM_ALERTS_HOST=
NANDAM_DOCUMENTS_HOST=
NANDAM_KNOWLEDGE_HOST=

##
## Backend
##

##
## Documents
##

DOCUMENTS_DATALAB_API_KEY=

DOCUMENTS_SCRAPFLY_API_KEY=
DOCUMENTS_SCRAPFLY_DISABLED_DOMAINS=
DOCUMENTS_SCRAPFLY_DISABLED_SUFFIXES=

DOCUMENTS_SSL_DISABLED_DOMAINS=
DOCUMENTS_SSL_LEGACY_DOMAINS=

DOCUMENTS_CONFLUENCE_DOMAINS=
DOCUMENTS_TABLEAU_DOMAINS=

##
## Knowledge
##
