# Artifacts
.DS_Store
re:
*.dll
*.dylib
*.exe
*.exe~
*.so

# Data
/.debug/
/config/*
!/config/connectors.sample.yml

# Editor
.VSCodeCounter

# Logs
*.log

# NodeJS
.ruff_cache
build
node_modules

# Python
__pycache__
.mypy_cache
.pytest_cache
.venv
venv
*.py[cod]
*$py.class
*.egg-info

# Secrets
.env

# Services
pgadmin_data/
postgres_data/
